/* Общее оформление контента */

:root {
  /* Цвета текста */
  --primary-text-color: #757575;
  --header-text-color: #212121;
  --accent-blue-color: #2196f3;
  --accent-white-color: #ffffff;
  --accent-black-color: #000000;
  --accent-rgba-color: rgba(255, 255, 255, 0.6);
  /* Цвета фона */
  --primary-bck-color: #ffffff;
  --secondary-bck-color: #2f303a;
  --bck-section-white: #f5f4fa;
  /* Стили шрифтов */
  --letter: 0.03em;
  --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--primary-bck-color);
  letter-spacing: var(--letter);
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.flexbox {
  display: flex;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.header-section {
  margin-top: 0;
  margin-bottom: 50px;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.15;
  text-align: center;
  color: var(--header-text-color);
}

.text {
  font-size: 14px;
  line-height: 1.71;
  color: var(--primary-text-color);
}

.font-style {
  font-style: normal;
}

.white-text {
  color: var(--accent-white-color);
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.link {
  text-decoration: none;
}

.mg-zero {
  margin-top: 0;
  margin-bottom: 0px;
}

/* Логотип */
.logo {
  margin-right: 93px;

  font-family: "Raleway", sans-serif;
  font-size: 26px;
  /* font-weight: 700; */
  line-height: 1.2;
  color: var(--accent-black-color);
}

.accent-color {
  color: var(--accent-blue-color);
}

/* Навигация */
.nav-and-contacts {
  padding-top: 24px;
  padding-bottom: 25px;

  font-weight: 500;
  line-height: 1;
  letter-spacing: 0.02em;
}

.flex-header,
.flex-nav,
.site-nav,
.contacts {
  display: flex;
  align-items: center;
}

.site-nav > .item:not(:last-child),
.contacts > .item:not(:last-child) {
  margin-right: 50px;
}

.flex-nav {
  margin-right: auto;
}

.site-nav .link {
  color: var(--header-text-color);
  transition: color var(--transition);
}

.contacts .link {
  color: var(--primary-text-color);
  display: flex;
  align-items: center;
  transition: color var(--transition);
}

.site-nav .link:hover,
.site-nav .link:focus,
.contacts .link:hover,
.contacts .link:focus,
.link:hover .icon-address,
.link:focus .icon-address {
  color: var(--accent-blue-color);
}

.site-nav .link.current {
  position: relative;
  padding-bottom: 32px;
  color: var(--accent-blue-color);
}

.site-nav .link.current::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-blue-color);
}

.icon-post {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: currentColor;
}

.icon-tel {
  width: 10px;
  height: 16px;
  margin-right: 10px;
  fill: currentColor;
}

/* Герой */
.wrap-hero {
  padding-top: 200px;
  padding-bottom: 200px;
  margin-left: auto;
  margin-right: auto;
  /* max-width: 1600px; */

  background-color: var(--secondary-bck-color);
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/hero.jpg");
  background-position: center;
  background-size: cover;

  text-align: center;
}

.banner {
  max-width: 696px;
}

.header-hero {
  margin-top: 0;
  margin-bottom: 30px;
  font-size: 44px;
  font-weight: 900;
  line-height: 1.37;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--accent-white-color);
}

/* Кнопка под блоком-героем */
.button {
  border: none;
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 200px;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  font-weight: 700;
  color: var(--accent-white-color);
  background-color: var(--accent-blue-color);
}

/* Бэкдроп */
.backdrop {
  position: fixed;
  top: 0;
  background: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
  transition: opacity var(--transition);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  transition: opacity var(--transition);
}

/* Модальное окно */
.modal-windows {
  position: absolute;
  left: 50%;
  top: 50%;

  min-width: 528px;
  min-height: 581px;
  transform: translate(-50%, -50%) scale(1);
  transition: transform var(--transition);
  background-color: var(--accent-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.backdrop.is-hidden .modal-windows {
  transform: translate(-50%, -50%) scale(0.7);
}

.btn-modal-close {
  position: absolute;
  top: 2.5px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}

.icon-close {
  width: 18px;
  height: 18px;
  fill: var(--accent-black-color);
  transition: fill var(--transition);
}

.btn-modal-close:hover .icon-close {
  fill: var(--accent-blue-color);
}

/* Форма в модальном окне */
.form {
  margin: 40px;
}

.form-caption {
  display: block;
  margin-bottom: 12px;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.15;
  color: var(--header-text-color);
}

.form-field {
  display: flex;
  flex-direction: column;
  position: relative;
}

.form-label {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
}

.form-input {
  margin-bottom: 10px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  height: 40px;
  transition: border-color var(--transition);
  outline: none;
}

.form-input + .icon-form {
  position: absolute;
  width: 18px;
  height: 18px;
  top: 50%;
  left: 12px;
  transform: translateY(-25%);
  fill: var(--accent-black-color);
  transition: fill var(--transition);
}

.form-input:focus + .icon-form,
.form-input:focus,
.form-comment:focus {
  fill: #2196f3;
  border-color: var(--accent-blue-color);
}

/* .form-field:focus-within .form-input,
.form-field:focus-within .icon-form,
.form-field:focus-within .form-comment {
  border-color: var(--accent-blue-color);
  fill: var(--accent-blue-color);
} */

.form-comment {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  padding-left: 16px;
  padding-top: 12px;
  width: 448px;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  resize: none;
  outline: none;
  transition: border-color var(--transition);
}

.form-comment::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-checkbox {
  margin-bottom: 30px;
}

/* Кастомный чекбокс  */
/* .checkbox {
  position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
} */
/* 
.label-check::after {
  content: "";
  display: inline-block;
  background-image: url(../images/icon-check.svg);
  background-color: green;
  width: 12px;
  height: 12px;
} */

.license-link {
  color: var(--accent-blue-color);
  text-decoration: none;
  border-bottom: 1px solid var(--accent-blue-color);
}

.button-submit {
  display: flex;
  justify-content: center;
}

/* Обертки для секций */
.wrap-why-we {
  padding-top: 94px;
}

.wrap-about-us,
.wrap-our-team,
.wrap-regular-costumers,
.wrap-my-project {
  padding-top: 94px;
  padding-bottom: 94px;
}

.wrap-our-team {
  background-color: #f5f4fa;
}

/* Наши преимущества */

.list-why-we {
  display: flex;
}

.list-why-we > .item:not(:last-child) {
  margin-right: 30px;
}

.list-why-we .item::before {
  content: "";
  display: block;
  height: 120px;
  margin-bottom: 30px;
  border: 1px solid var(--bck-section-white);
  border-radius: 4px;
  background-color: var(--bck-section-white);
  background-repeat: no-repeat;
  background-position: center;
}

.icon-antenna::before {
  background-image: url("../images/antenna.svg");
}

.icon-clock::before {
  background-image: url("../images/clock.svg");
}

.icon-diagram::before {
  background-image: url("../images/diagram.svg");
}

.icon-astronaut::before {
  background-image: url("../images/astronaut.svg");
}

.subtitle-why-we {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

/* Чем мы занимаемся */
.about-us {
  display: flex;
}

.about-us .item {
  width: calc((100% - 30px * 2) / 3);
  margin-right: 30px;
  position: relative;
}

.about-us .item:last-child {
  margin-right: 0;
}

.about-us-overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
}

.about-us-overlay-text {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: var(--letter);
  color: var(--accent-white-color);
}

/* Наша команда */
.subtitle-our-team {
  margin-top: 0;
  margin-bottom: 10px;
  padding-top: 30px;
  font-weight: 500;
  line-height: 1.2;
  color: var(--header-text-color);
}

.our-team {
  display: flex;
  text-align: center;
}

.our-team .item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.info-team {
  background-color: var(--accent-white-color);
}

.our-team .item {
  width: calc((100% - 30px * 3) / 4);
  margin-right: 30px;
}

.our-team .item:last-child {
  margin-right: 0px;
}

.text-our-team {
  margin-top: 0;
  margin-bottom: 16px;
  line-height: 1.2;
  color: var(--primary-text-color);
}

.social-list {
  display: flex;
  align-items: baseline;
  justify-content: center;
  padding-bottom: 30px;
}

.social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: all var(--transition);
}

.social-link:hover,
.social-link:focus {
  background-color: var(--accent-blue-color);
}

.social-link:hover .icon-social,
.social-link:focus .icon-social {
  fill: var(--accent-white-color);
}

.item-soc:not(:last-child) {
  margin-right: 10px;
}

.icon-social {
  height: 20px;
  width: 20px;
  fill: #afb1b8;
}

/* Постоянные клиенты */

.list-regular-costumers {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-clients-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 90px;
  color: #afb1b8;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: all var(--transition);
}

.logo-clients-link:hover,
.logo-clients-link:focus {
  color: var(--accent-blue-color);
  border: solid var(--accent-blue-color) 1px;
}

.logo-clients-link:hover .icon-logo {
  fill: var(--accent-blue-color);
  transition: all var(--transition);
}

.list-regular-costumers .item {
  margin-right: 30px;
}

.list-regular-costumers .item:last-child {
  margin-right: 0;
}

.icon-logo-1 {
  width: 45px;
}
.icon-logo-2 {
  width: 40px;
}
.icon-logo-3 {
  width: 41px;
}
.icon-logo-4 {
  width: 80px;
}
.icon-logo-5 {
  width: 59px;
}
.icon-logo-6 {
  width: 88.5px;
}

.icon-logo {
  fill: currentColor;
}

/* Портфолио */
/* Кнопки */
.radio-btn {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-bottom: 50px;
}

.btn {
  padding: 6px 22px;
  border: none;
  min-width: 73px;
  border-radius: 4px;
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.63;
  letter-spacing: var(--letter);
  color: var(--header-text-color);
  background-color: var(--bck-section-white);
  transition: all var(--transition);
}

.radio-btn .item:not(:first-child) {
  margin-left: 8px;
}

.btn:hover,
.btn:focus {
  color: var(--accent-white-color);
  background-color: var(--accent-blue-color);
}

/* Оверлей */
.portfolio .thumb {
  position: relative;
  overflow: hidden;
}

.overlay-portfolio {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform var(--transition);
}

.portfolio .item:hover .overlay-portfolio {
  transform: translateY(0);
}

.text-overlay-portfolio {
  font-size: 18px;
  line-height: 1.55;
  color: var(--accent-white-color);
}

/* Список портфолио */
.portfolio {
  display: flex;
  flex-wrap: wrap;
}

.portfolio .item {
  width: calc((100% - 30px * 2) / 3);
  border: 1px solid #eeeeee;
  transition: box-shadow var(--transition);
}

.portfolio .item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portfolio .item:not(:nth-child(3n)) {
  margin-right: 30px;
}

.portfolio .item:not(:nth-last-child(-n + 3)) {
  margin-bottom: 50px;
}

.desc-portfolio {
  margin-left: 24px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.title-portfolio {
  margin-top: 0px;
  margin-bottom: 4px;

  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--header-text-color);
}

.text-portfolio {
  line-height: 1.88;
  color: var(--primary-text-color);
}

/* Футер */
.wrap-footer {
  background-color: var(--secondary-bck-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-flexbox {
  display: flex;
  align-items: baseline;
}

.footer-address {
  margin-right: 70px;
}

.grid-contacts {
  width: 231px;
}

.grid-contacts .link {
  color: var(--accent-rgba-color);
  transition: color var(--transition);
}

.grid-contacts .link:hover,
.grid-contacts .link:focus {
  color: var(--accent-blue-color);
}

.logo-footer-marg {
  display: inline-block;
  margin-bottom: 20px;
}

.address-marg {
  margin-bottom: 9px;
  margin-top: 0;
}

.address {
  line-height: 1.46;
}

.sec-action {
  margin-right: 93px;
}

.call-to-action {
  display: block;
  margin-bottom: 20px;
  color: var(--accent-white-color);
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.social-link-footer {
  background-color: rgba(255, 255, 255, 0.1);
}

.social-link-footer .icon-social {
  fill: var(--accent-white-color);
}

.footer-flex-form {
  display: flex;
  flex-direction: row;
}

.action-mail {
  margin-right: 12px;
  width: 358px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  background-color: var(--secondary-bck-color);
  color: var(--accent-rgba-color);
}

.action-mail::placeholder {
  color: var(--accent-rgba-color);
}

.icon-telegramm {
  fill: var(--accent-white-color);
  width: 24px;
  height: 24px;
  margin-left: 10px;
}

.btn-footer {
  display: flex;
  align-items: center;
  padding-left: 28px;
  padding-right: 29px;
}
